body{
	font-family: arial, Helvetica, sans-serif;
	background-color: pink;
}

.header{
	margin: 25px auto 10px auto;
	text-align:center;
	color: #666;
	background-color:#fff;
	padding:2px 10px 2px 10px;
	width:300px;
}

.section1 {
	display:flex;
	justify-content:center;
}

.section2{
	display:flex;
	justify-content:center;
}

.form{
	padding: 20px;
	width: 300px;
	margin: 0 auto;
	background-color: white;
}

button{
	border: none;
	background-color:  red;
	padding:  5px;
	color: white;
	border-radius:  5px;
}

.form input{
	margin: 5px 0;
	padding:  5px;
	display:  block;
	width: 100%;
	box-sizing:  border-box;
}

input[type="submit"]{
	border: none;
	background-color: #16a;
	color: white;
	padding: 10px;
	border-radius:  5px;
}

#eventsContainer{
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	width: 320px;
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.event{
	border: solid 1px #ccc;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items:  center;
}

.event .days { 
	text-align: center;
	width: 100px;
}

.event .days .days-number{
	font-size:  20px;
	font-weight:  bold;
	display: block;
}


.event .event-name{
	color: darkblue;
	font-weight: bold;
	font-style: italic;
	padding: 10px;
	width: 200px;
	font-size:12px;
	text-align:center;
}

.event .event-date {
	text-align:center;
	padding: 10px;
	width: 100px;
	font-size:10px;
}

.event .actions { 
	padding: 10px;
}